{% extends 'base.html.twig' %}

{% block title %}Sprint index{% endblock %}

{% block body %}
    <h1>Sprint index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>NumberOfStoryPoints</th>
                <th>StartAt</th>
                <th>EndAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sprint in sprints %}
            <tr>
                <td>{{ sprint.id }}</td>
                <td>{{ sprint.name }}</td>
                <td>{{ sprint.numberOfStoryPoints }}</td>
                <td>{{ sprint.startAt ? sprint.startAt|date('Y-m-d') : '' }}</td>
                <td>{{ sprint.endAt ? sprint.endAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_sprint_show', {'id': sprint.id}) }}">show</a>
                    <a href="{{ path('app_sprint_edit', {'id': sprint.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sprint_new') }}">Create new</a>
{% endblock %}
